<html>
  <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Weekday</title>
  </head>
  <body>
      <div class="container">
          <h1>Enter a date to get the weekday it is:</h1>
          <form action="/getWeekday" method="post">
              <div class="form-group">
                  <label for="date">Enter Date</label>
                  <input name="date" type="text" class="form-control">
              </div>      
              <button type="submit" class="btn btn-info">Go!</button>
          </form>
      </div>
  </body>
</html>
