<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <title>Weekday</title>
    </head>
    <body>
        <div class="container">
            <h2>It was a {{ date }}!</h2>
            <a href="/">Home</a>
        </div>
    </body>
</html>
